.field.cloudinaryupload .ss-uploadfield-item-preview span img {
    width: 100%;
}

.fieldHandler {
    cursor: move;
}

.field.cloudinarymedia .dropdown.media-select {
    width: 57%;
    margin-bottom: 5px;
    margin-left: 0 !important;
}

.ss-uploadfield-item-info.media-select-holder {
    padding: 0 10px 10px 10px !important;
}

.media-reorder {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.cloudinarymedia .ss-uploadfield-item {
    padding: 10px 10px 5px 10px !important;
}