/* Silverstripe Cloudinary Module Admin Bundle
===================================================================================================================== */

// Import Variables:

@import "variables";

.madehq-cloudinary-browser {
    height: 600px;
    max-height: 75%;
    max-width: 75%;
    width: 800px;
}
