.cloudinary_file-type {
    background: no-repeat 0 0 url('../images/icons8-raw.png');
    width: 100px;
    height: 100px;

    &.cloudinary_file-type-txt {
        background-image: url('../images/icons8-txt.png');
    }
    &.cloudinary_file-type-7z,
    &.cloudinary_file-type-7zip
    &.cloudinary_file-type-7-zip {
        background-image: url('../images/icons8-7zip.png');
    }
    &.cloudinary_file-type-csv {
        background-image: url('../images/icons8-csv.png');
    }
    &.cloudinary_file-type-doc {
        background-image: url('../images/icons8-doc.png');
    }
    &.cloudinary_file-type-epub {
        background-image: url('../images/icons8-epub.png');
    }
    &.cloudinary_file-type-ogg {
        background-image: url('../images/icons8-ogg.png');
    }
    &.cloudinary_file-type-otf {
        background-image: url('../images/icons8-otf.png');
    }
    &.cloudinary_file-type-pdf {
        background-image: url('../images/icons8-pdf.png');
    }
    &.cloudinary_file-type-ppt {
        background-image: url('../images/icons8-ppt.png');
    }
    &.cloudinary_file-type-rar {
        background-image: url('../images/icons8-rar.png');
    }
    &.cloudinary_file-type-tar {
        background-image: url('../images/icons8-tar.png');
    }
    &.cloudinary_file-type-zip {
        background-image: url('../images/icons8-zip.png');
    }
    &.cloudinary_file-type-xls {
        background-image: url('../images/icons8-xls.png');
    }
}
